<div class="av-account-value">
    <div class="av-tiv ">Total Investment Value as of mm/dd/yyyy</div>
    <div class="av-value">$24,254,457.00</div>
</div>
<div class="row av-table-sort-header show-desktop-tablet">
    <div class="col-md-6 col-sm-6">
        <a href="#">Reset Sort</a>
    </div>
    <div class="col-md-4 col-sm-6 av-acct-value-header">
        Account Value
        <a class="sprite2" href=""></a>
    </div>
    <div class="col-md-3 col-sm-3">Plan<a href="" class="av-help-icon"></a></div>
    <div class="col-md-6 col-sm-7">Owners</div>
    <div class="col-md-6 col-sm-3 av-actions-holder">Actions</div>
</div> <!--End of Table Header-->
<div class="av-data-container">
    <div class="row av-table-row">
        <div class="col-md-6 col-sm-6 col-xs-6 av-col-margin">
            <span class="av-col-account-name">
                <a href="#">SPS ADVANTAGE W/ ONE</a>
            </span>
            <br />
            <span class="av-pdt-subname show-desktop-tablet ">PRODUCT SUB NAME <br /></span>

            <span class="av-acc-num">1234 1234 1110 1 332</span>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-5 av-col-account av-col-margin">
            <span class="av-col-account-value">$1,000,000.04</span><br /><span class="av-as-of show-desktop-tablet">as of mm/dd/yyyy</span>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-1 av-col-swap-pad show-mobile">
            <span class="btns glyphicon av-down-angle" data-toggle="collapse" data-target="#demo"></span>
        </div>
        <div class="collapse navbar-collapse" id="demo">
            <div class=" col-xs-12  show-mobile mobile-header">PRODUCT SUB NAME</div>
            <div class="col-xs-6 show-mobile mobile-header">Plan:</div>
            <div class="col-xs-6 show-mobile mobile-header">Value as of:</div>
            <!--<div class="col-xs-3 show-mobile mobile-header"><a href="">Details</a></div>-->
            <div class="col-md-3 col-xs-6 col-sm-3 av-col-margin">
                <span class="av-col-traditional-ira">Non-Qualified</span>
            </div>
            <div class="col-xs-6 show-mobile">mm/dd/yyyy</div>
            <div class="col-xs-12 show-mobile mobile-header">Owners:</div>
            <div class="col-md-6 col-sm-7 av-col-margin col-xs-12">
                <span class="av-col-owner">WALTER F NIEDERHEIMER JR <br />ALEXANDRA P NIEDERHEIMER-CHRISTODOULOPOULOS</span>
            </div>
            <div class="col-md-2 col-sm-3 av-col-margin show-tablet">
                <a href=" " class="av-mm-image"></a>
                <a href=" " class="av-acc-maintainance-image"></a>
            </div>
            <!--<div class="col-md-2 col-sm-2 av-col-margin "><a href=" " class="av-acc-maintainance-image"></a></div>-->
            <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                <div class="av-mm-pad">
                    <a href=" " class="av-mm-image"></a>Money
                    <br />Movement
                </div>
            </div>
            <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                <div class="av-acc-mntnce-pad">
                    <a href=" " class="av-acc-maintainance-image"></a>Account
                    <br />Maintenance
                </div>
            </div>
        </div>
    </div> <!--End of First Row in table with id demo-->
    <div class="row av-table-row">
        <div class="col-md-6 col-sm-6 col-xs-6 av-col-margin">
            <span class="av-col-account-name">
                <a href="#">AMERIPRISE BROKERAGE</a>
            </span>
            <br />
            <span class="av-pdt-subname show-desktop-tablet">BROKERAGE MUTUAL FUNDS ONLY <br /></span>

            <span class="av-acc-num">0000 9874 9874 1 133</span>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-5 av-col-account av-col-margin">
            <span class="av-col-account-value">$0.01</span><br /><span class="av-as-of show-desktop-tablet">as of mm/dd/yyyy</span>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-1 av-col-swap-pad show-mobile">
            <span class="btns glyphicon av-down-angle" data-toggle="collapse" data-target="#demo1"></span>
        </div>
        <div class="collapse navbar-collapse" id="demo1">
            <div class=" col-xs-12 show-mobile mobile-header ">BROKERAGE MUTUAL FUNDS ONLY <br /></div>
            <div class="col-xs-6 show-mobile mobile-header">Plan:</div>
            <div class="col-xs-6 show-mobile mobile-header">Value as of: </div>
            <!--<div class="col-xs-3 show-mobile mobile-header"><a href="">Details</a></div>-->
            <div class="col-md-3 col-xs-6 col-sm-3 av-col-margin">
                <span class="av-col-traditional-ira">Non-Qualified</span>
            </div>
            <div class="col-xs-6 show-mobile">mm/dd/yyyy</div>
            <div class="col-xs-12 show-mobile mobile-header">Owners:</div>
            <div class="col-md-6 col-sm-7 av-col-margin col-xs-12">
                <span class="av-col-owner">WALTER F NIEDERHEIMER JR</span>
            </div>
            <div class="col-md-2 col-sm-3 av-col-margin show-tablet">
                <a href=" " class="av-mm-image"></a>
                <a href=" " class="av-acc-maintainance-image"></a>
            </div>
            <!--<div class="col-md-2 col-sm-2 av-col-margin "><a href=" " class="av-acc-maintainance-image"></a></div>-->
            <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                <div class="av-mm-pad">
                    <a href=" " class="av-mm-image"></a>Money
                    <br />Movement
                </div>
            </div>
            <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                <div class="av-acc-mntnce-pad">
                    <a href=" " class="av-acc-maintainance-image"></a>Account
                    <br />Maintenance
                </div>
            </div>
        </div>
    </div> <!--End of second Row in table with id demo1-->
    <div class="row av-table-row">
        <div class="col-md-6 col-sm-6 col-xs-6 av-col-margin">
            <span class="av-col-account-name">
                <a href="#">IMMEDIATE ANNUITY</a>
            </span>
            <br />

            <span class="av-acc-num">0999 1111 2222 1 004</span>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-5 av-col-account av-col-margin">
            <span class="av-col-account-value">N/A</span><br /><span class="av-as-of show-desktop-tablet">as of mm/dd/yyyy</span>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-1 av-col-swap-pad show-mobile">
            <span class="btns glyphicon av-down-angle" data-toggle="collapse" data-target="#demo2"></span>
        </div>
        <div class="collapse navbar-collapse" id="demo2">
            <div class="col-xs-6 show-mobile mobile-header">Plan:</div>
            <div class="col-xs-6 show-mobile mobile-header">Value as of:</div>
            <!--<div class="col-xs-3 show-mobile mobile-header"><a href="">Details</a></div>-->
            <div class="col-md-3 col-xs-6 col-sm-3 av-col-margin">
                <span class="av-col-traditional-ira">ROTH IRA</span>
            </div>
            <div class="col-xs-6 show-mobile">mm/dd/yyyy</div>
            <div class="col-xs-12 show-mobile mobile-header">Owners:</div>
            <div class="col-md-6 col-sm-7 av-col-margin col-xs-12">
                <span class="av-col-owner">WALTER F NIEDERHEIMER JR <br />ALEXANDRA P NIEDERHEIMER-CHRISTODOULOPOULOS</span>
            </div>
            <div class="col-md-2 col-sm-3 av-col-margin show-tablet">
                <a href=" " class="av-mm-image"></a>
                <a href=" " class="av-acc-maintainance-image"></a>
            </div>
            <!--<div class="col-md-2 col-sm-2 av-col-margin "><a href=" " class="av-acc-maintainance-image"></a></div>-->
            <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                <div class="av-mm-pad">
                    <a href=" " class="av-mm-image"></a>Money
                    <br />Movement
                </div>
            </div>
            <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                <div class="av-acc-mntnce-pad">
                    <a href=" " class="av-acc-maintainance-image"></a>Account
                    <br />Maintenance
                </div>
            </div>
        </div>
    </div> <!--End of Third Row in table with id demo2-->
    <div class="row av-table-row last-row">
        <div class="col-md-6 col-sm-6 col-xs-6 av-col-margin">
            <span class="av-col-account-name">
                <a href="#">VARIABLE ANNUITY</a>
            </span>
            <br />

            <span class="av-acc-num">0000 1234 1235 1 134</span>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-5 av-col-account av-col-margin">
            <span class="av-col-account-value">$175,000.00</span><br /><span class="av-as-of show-desktop-tablet">as of mm/dd/yyyy</span>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-1 av-col-swap-pad show-mobile">
            <span class="btns glyphicon av-down-angle" data-toggle="collapse" data-target="#demo3"></span>
        </div>
        <div class="collapse navbar-collapse" id="demo3">
            <div class="col-xs-6 show-mobile mobile-header">Plan:</div>
            <div class="col-xs-6 show-mobile mobile-header">Value as of:</div>
            <!--<div class="col-xs-3 show-mobile mobile-header"><a href="">Details</a></div>-->
            <div class="col-md-3 col-xs-6 col-sm-3 av-col-margin">
                <span class="av-col-traditional-ira">Non-Qualified</span>
            </div>
            <div class="col-xs-6 show-mobile"> mm/dd/yyyy</div>
            <div class="col-xs-12 show-mobile mobile-header">Owners:</div>
            <div class="col-md-6 col-sm-7 av-col-margin col-xs-12">
                <span class="av-col-owner">OWNERSHIP CONTACT:<br />RIVERSOURCE LIFE INSURANCE <br />CARRIER #99250001234</span>
            </div>
            <div class="col-md-2 col-sm-3 av-col-margin show-tablet">
                <a href=" " class="av-mm-image"></a>
                <a href=" " class="av-acc-maintainance-image"></a>
            </div>
            <!--<div class="col-md-2 col-sm-2 av-col-margin "><a href=" " class="av-acc-maintainance-image"></a></div>-->
            <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                <div class="av-mm-pad">
                    <a href=" " class="av-mm-image"></a>Money
                    <br />Movement
                </div>
            </div>
            <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                <div class="av-acc-mntnce-pad">
                    <a href=" " class="av-acc-maintainance-image"></a>Account
                    <br />Maintenance
                </div>
            </div>
        </div>
    </div> <!--End of Last Row in table with id demo3-->
    <a href="#" id ="back-to-top" class="scrollToTops"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div> <!--End of Table content-->    