<div class="av-account-value">
    <div class="av-tiv ">Total Investment Value</div>
    <div class="av-value">$24,254,457.00</div>
</div>
<div class="row av-table-sort-header show-desktop-tablet">
    <div class="col-md-6 col-sm-6">
        <a id = "av-account-reset-sort" href="#" class ="sorting reset-sorting">Reset Sort</a>
    </div>
    <div class="col-md-5 col-sm-6 av-acct-value-header">
        <a id = "av-account-value-sort" href="#" class ="sorting">Account Value</a>
        <a class="sprite2" href=""></a>
    </div>
    <div class="col-md-3 col-sm-3"><a id = "av-account-plan-sort" href="#" class ="sorting">Plan</a></div>
    <div class="col-md-5 col-sm-7"><a id = "av-account-owners-sort" href="#" class ="sorting">Owners</a></div>
    <div class="col-md-6 col-sm-3 av-actions-holder">Actions</div>
</div>
<div class="av-data-container">
    <% _.each(avDataCollection, function(record, key, list){ %>
        <div class="row av-table-row <%= (key==avCollectionLength-1) ? 'last-row' : '' %>">
            <div class="col-md-6 col-sm-6 col-xs-6 av-col-margin">
                <span class="av-col-account-name">
                    <a href="#">
                        <%= record.toJSON().av_product_name %>
                    </a>
                </span>
                <br />
                <span class="av-pdt-subname">PRODUCT SUB NAME</span>
                <br />
                <span class="av-acc-num">12341234 0 133</span>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-4 av-col-account-value av-col-margin">
                <span>
                    <%= record.toJSON().av_value %>
                </span>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 show-mobile">
                <span class="btns glyphicon av-down-angle" data-toggle="collapse" data-target="#demo-<%=key%>"></span>
            </div>
            <div class="collapse navbar-collapse" id="demo-<%=key%>">
                <div class="col-xs-4 show-mobile mobile-header">Plan:</div>
                <div class="col-xs-4 col-xs-offset-4 show-mobile mobile-header">Value as of:</div>
                <div class="col-md-3 col-xs-4 col-sm-3 av-col-margin">
                    <span class="av-col-traditional-ira">
                        <%= record.toJSON().av_plan %>
                    </span>
                </div>
                <div class="col-xs-4 col-xs-offset-4 show-mobile">07/08/2014</div>
                <div class="col-xs-12 show-mobile mobile-header">Owners:</div>
                <div class="col-md-5 col-sm-7 av-col-margin col-xs-12">
                    <span class="av-col-owner">
                        <%= record.toJSON().av_owners %>
                    </span>
                </div>
                <div class="col-md-2 col-sm-3 av-col-margin show-tablet">
                    <a href=" " class="av-mm-image"></a>
                    <a href=" " class="av-acc-maintainance-image"></a>
                </div>
                <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                    <div class="av-mm-pad">
                        <a href=" " class="av-mm-image"></a>Money
                        <br />Movement
                    </div>
                </div>
                <div class="col-md-3 col-sm-2 av-col-margin show-desktop col-xs-6 mobile-header img">
                    <div class="av-mm-pad">
                        <a href=" " class="av-acc-maintainance-image"></a>Account
                        <br />Maintenance
                    </div>
                </div>
            </div>
        </div>
    <% }); %>

</div>
